# Data Science Tools and Ecosystem

## Author
Emma R B

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - popular languages
 - common libraries
 - arithmetic example

Some of the popular languages that Data Scientists use are:
1-Python
2-R
3-SQL

Some of the commonly used libraries used by Data Scientists include:
1-tensorflow
2-numpy
3-scipy

| Data Science Tools |
|:------------------:|
|       RStudio      |
|     Apache Spark   |
|     TensorFlow     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
sum = (3*4)+5 # This a simple arithmetic expression to mutiply then add integers.
print(sum)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
total_minutes = 200
hours = total_minutes // 60
minutes = total_minutes % 60
formatted_time = f"{hours:02d}:{minutes:02d}"
print(formatted_time)

03:20